<div class="back">
    <div class="container fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <h4 class="largetext" style="padding-top: 20px;">About</h4></div>
            <div class="col-md-1 text-align-left">
    <button type="button" class="btn btn-primary" routerLink='/landing'>Back</button>
            </div>
        </div>
        
    </div>
    <div class="align text-center" style="color: white;font-style:italic">
        <header class="quote">
            ''People expect to be bored by e-learning. Let's show them it doesn't have to be like that! " - Cammy Bean
        </header>
        <header>
            How well are your online classes going?
        </header>
        <p>
            We are in the midst of a pandemic and we could witness the world is evolving by adopting changes.
The transition from actual classrooms to virtual learning system is a big proof that the time demands changes.
        </p>
        <header>
            So are you worried?
        </header>
        <p>
            The new system worries parents and students alike. But it is quite natural. As humans, we are always reluctant to accept these changes and it may take time to adapt.
        </p>
        <p>
            Does this mean you should remain anxious and risk your child's education?
The answer is No.
Here we comes with a better solution .
        </p>
        <header>
            Who are We?
        </header>
        <p>
            We are a group of young graduates and professionals helping to mould the students to prepare them for the evolving 'new world'.
        </p>
        <header>
            What is our Mission?
        </header>
        <p>
            Our mission is to inform, empower and encourage aspiring and committed students and teachers by bringing the 'school' at your fingertips.
        </p>
        <p>
            We provide online classes to your children along with proper guidance and support. No student should lack special attention which the schools did provide. Each student will be mentored making the learning process more easier.

We are providing classes for students starting from 4th to 10th standard.
        </p>
        <header>
            How does this work?
        </header>
        <p>
            The online classes will be following a suitable schedule which can be chosen by the students as well as tutors.
All the classes are conducted by the subject experts which makes sure that your children will get qualitative lectures from the professionals.
        </p>
        <header>
            Do we provide offline classes/ home- to- home-tuitions?
        </header>
        <span>
            Offline and door to door classes are also in our consideration and it will be available by following COVID-19 protocols.
        </span>
    </div>
</div>